

body{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(stars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .instruction{
      display: flex;
      flex-direction: column;
      font-weight: bold;
      text-align: center;
  }

#video{
    display: flex;
    justify-content: center;
    align-items: center;
}

#userChoices{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}

#gamePlay{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bolder;
    background-color: blueviolet;
    font-size: 15px;
}


